.carousel {
    width: 100%;
    box-shadow: 12px 0 50px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
    width: 100%;
}

.carousel-caption.dark h3,  .carousel-caption.dark p{
    color: #000;
}

.carousel-caption.light h3,  .carousel-caption.light p{
    color: #fff;
}
