.navbar {
    min-height: 100px;
}

.non-transparent {
    background-color: #000;
}

.non-transparent .navbar-brand {
    color: #fff !important;
}

.non-transparent .navbar-collapse .navbar-nav li a {
    color: #fff !important;
}

.navbar-brand, .nav-link {
    color: #000;
}

.navbar-brand:hover , .nav-link:hover {
    color: #fff;
}

a.light.navbar-brand {
    color: #fff;
}

a.dark.navbar-brand {
    color: #000;
}

.dark.navbar-nav li a {
    color: #000;
}

.light.navbar-nav li a {
    color: #fff;
}

.input-search {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-show {
    visibility: visible;
    animation:  showNavBar 0.3s 1;
}

.nav-hide {
    visibility: hidden;
    animation: hideNavBar 0.3s 1;
    transition: visibility 0s 0.3s;
}

@keyframes showNavBar {
    0%   {top: -50px;}
    50%  {top: -25px;}
    100% {top: 0px;}
}

@keyframes hideNavBar {
    0%   {top: 0px; }
    50%  {top: -25px; }
    100% {top: -50px; }
}