.navbar {
    min-height: 100px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0))
}

.non-transparent {
    background-color: #000;
}

.non-transparent .navbar-brand {
    color: #fff !important;
}

.non-transparent .navbar-collapse .navbar-nav li a {
    color: #fff !important;
}

.navbar-nav li.nav-item {
    max-width: 8rem;
    width: max-content;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-brand:hover , .nav-link:hover {
    color: #fff;
}

a.light.navbar-brand {
    color: #fff;
}

a.dark.navbar-brand {
    color: #000;
}

.dark.navbar-nav li a {
    color: #000;
}

.light.navbar-nav li a {
    color: #fff;
}

.input-search {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-show {
    visibility: visible;
    animation:  showNavBar 0.3s 1;
}

.nav-hide {
    visibility: hidden;
    animation: hideNavBar 0.3s 1;
    transition: visibility 0s 0.3s;
}

/**
    Dropdown menu 
*/
.dropdown-menu.show {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    right: auto !important;
    min-width: 25rem;
    max-width: 40rem;
}

button.dropdown-menu {
    width: 30% !important;
}

@keyframes showNavBar {
    0%   {top: -50px;}
    50%  {top: -25px;}
    100% {top: 0px;}
}

@keyframes hideNavBar {
    0%   {top: 0px; }
    50%  {top: -25px; }
    100% {top: -50px; }
}

@media only screen and (max-width: 768px) { 
    .input-search { 
        justify-content: center;
    }
 }